* {
    margin: 0;
    font-family: Verdana, sans-serif;
}

/* HEADER START */
body {
    padding-top: 40px;
}
nav {
    height: 70px;
    width: 100%;
    background-color: #EBECF1;
    font-size: 14px;
}
nav img {
    height: 40px;
    margin-left: 20px;
}
#navbarNav {
    text-align: center;
    background-color: #EBECF1;
}
.nav-item ul.dropdown {
    height: max-content;
    width: 150px;
    padding-left: 0;
    display: none;
    position: absolute;
    background-color: #EBECF1;
}
.nav-item ul.dropdown li {
    right: 50px;
    padding: 13px;
    display: block;
    text-align: center;
    list-style-type: none;
}
.nav-item ul.dropdown a {
    color: black;
    text-decoration: none;
}
.nav-item:hover ul.dropdown {
    display: block;
}
ul.dropdown li:hover {
    background-color: #424769;
}
ul.dropdown a:hover {
    color: #EBECF1;
}
.nav-button {
    height: 40px;
    width: 75px;
    margin-right: 15px;
    padding: 8px;
    color: #EBECF1;
    text-align: center;
    text-decoration: none;
    border: 0.5px solid #424769;
    border-radius: 50px; 
    background-color: #424769;
}
.nav-button:hover {
    border: 0.5px solid #7077A1;
    background-color: #7077A1;
}
.nav-user-pic {
    width: 40px;
    margin-left: 10px;
    margin-right: 20px;
    border-radius: 50%;
}
.sub-menu-wrap {
    max-height: 0px;
    width: 320px;
    top: 100%;
    right: 10px;
    position: absolute;
    overflow: hidden;
    transition: max-height 0.2s;
}
.sub-menu-wrap.open-menu {
    max-height: 330px;
}
.sub-menu {
    margin: 10px;
    padding: 20px;
    background-color: #EBECF1;
}
.user-info {
    display: flex;
    align-items: center;
}
.toggle-user-pic {
    height: 60px;
    width: 60px;
    margin-right: 15px;
    border-radius: 50%;
}
.sub-menu hr {
    height: 1.5px;
    width: 100%;
    margin: 15px 0 10px;
    border: 0;
    background-color: #ccc;
}
.user-info-list {
    margin: 10px 0;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
}
.user-info-list i {
    margin-right: 15px;
    margin-bottom: 8px;
    padding: 8px;
    font-size: 19px;
}
.user-info-list p {
    width: 100%;
    margin-top: 5px;
    font-size: 14px;
}
.user-info-list:hover p {
    font-weight: bold;
}
.user-info-list span {
    transition: transform 0.5s;
}
.user-info-list:hover span {
    transform: translateX(7px);
}
/* HEADER END */

/* INDEX BODY PAGE-1 START */
.body-index {
    height: 1670px;
    width: 100%;
}
#popular-section {
    height: 610px;
    width: 100%;
}
.carousel-item {
    height: 610px;
    width: 100%;
}
.slide-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.7);
}
.carousel-caption {
    bottom: 160px;
    color: #EBECF1;
}
.carousel-caption h3 {
    font-size: 40px;
    font-weight: 300;
}
.carousel-caption h2 {
    font-size: 60px;
}
.carousel-caption p {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
}
.slider-btn {
    height: 60px;
    width: 145px;
    padding-top: 15px;
    display: inline-block;
    color: #EBECF1;
    text-decoration: none;
    border: 2.5px solid;
    border-color:rgb(81, 77, 77) black black rgb(81, 77, 77);
    background-color: #424769;
}
.slider-btn:hover {
    background-color: #7077A1;
}
/* INDEX BODY PAGE-1 END */

/* INDEX BODY PAGE-2 START */
.body-event-section {
    height: auto;
    padding-left: 30px;
    padding-right: 30px;
}
.body-join {
    height: 180px;
    width: 100%;
    padding-top: 42px;
    padding-left: 80px;
    color: #EBECF1;
    font-size: 18px;
    background-color: #424769;
}
/* INDEX BODY PAGE-2 END */

/* Event-section START */
.upcoming-section {
    padding-top: 25px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 25px;
    color: black;
}
.card {
    height: 550px;
    margin-bottom: 50px;
}
.card img {
    height: 280px;
    width: 100%;
    object-fit: cover;
}
.card-text {
    font-size: 14px;
}
.card-footer {
    display: flex;
    padding-bottom: 10px;
}
.card-btn {
    height: 55px;
    width: 130px;
    margin-left: 10px;
    padding-top: 13px;
    padding-left: 18px;
    display: inline-block;
    color: #EBECF1;
    text-decoration: none;
    border: 2.5px solid;
    border-color:rgb(81, 77, 77) black black rgb(81, 77, 77);
    background-color: #424769;
}
.card-btn:hover {
    background-color: #7077A1;
}
.card2-btn {
    margin-top: 10px;
}
/* Event-section END */

/* MAIN START - aboutUs */
main {
    height: auto;
    width: 100%;
    margin-top: 50px;
}
.container {
    width: 90%;
    margin: auto;
    padding: 10px 20px 40px;
}
.heading {
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.heading h1 {
    margin-bottom: 25px;
    position: relative;
    color: black;
    font-size: 40px;
}
.about-content h4 {
    margin-bottom: 20px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 27px;
    color: #333;
    text-align: center;
    align-items: center;
}
.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.about-img {
    margin-right: 40px;
    flex: 1;
    overflow: hidden;
}
.about-img img {
    height: auto;
    max-width: 100%;
    display: block;
    transition: 0.5s ease;
}
.about-img:hover img {
    transform: scale(1.2);
}
.about-content {
    flex: 1;
}
.about-content p {
    font-size: 16px;
    line-height: 1.5;
}
.event-title::after {
    height: 4px;
    width: 150px;
    content: "";
    margin: 0 auto;
    margin-top: 40px;
    display: block;
    position: absolute;
    background-color: #4caf50;
}
.about-content a {
    height: 35px;
    width: 130px;
    padding-top: 3px;
    display: inline-block;
    color: #EBECF1;
    text-align: center;
    text-decoration: none;
    border: 2.5px solid;
    border-color:rgb(81, 77, 77) black black rgb(81, 77, 77);
    background-color: #424769;
    border-radius: 40px;
}
.about-content a:hover {
    background-color: #7077A1;
}

@media screen and (max-width: 768px) {
    .about-content h3 {
        font-size: 23px;
    }
    .container {
        padding: 0px;
    }
    .about {
        padding: 20px;
        flex-direction: column;
    }
    .about-img {
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .about-content p {
        padding: 0px;
        font-size: 15px;
    }
}
/* MAIN END - aboutUs */

/* FOOTER START */
footer {
    height: 180px;
    width: 100%;
    margin-top: auto;
    background-color: #2D3250;
}
.foot-tm {
    padding-top: 50px;
    color: #EBECF1;
    text-align: center;
    font-size: 25px
}
footer p {
    color: #88888a;
    text-align: center;
}
/* FOOTER END */