* {
    margin: 0;
    font-family: Verdana, sans-serif;
}

/* HEADER START */
body {
    padding-top: 40px;
}
nav {
    height: 70px;
    width: 100%;
    background-color: #EBECF1;
    font-size: 14px;
}
nav img {
    height: 40px;
    margin-left: 20px;
}
#navbarNav {
    text-align: center;
    background-color: #EBECF1;
}
.nav-button {
    height: 40px;
    width: 80px;
    margin-right: 15px;
    padding: 8px;
    color: #EBECF1;
    text-align: center;
    text-decoration: none;
    border: 0.5px solid #424769;
    border-radius: 50px;
    background-color: #424769;
}
.nav-button:hover {
    border: 0.5px solid #7077A1;
    background-color: #7077A1;
}
/* HEADER END */

/* NAV-HOST BODY PAGE-1 START */
.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    background-image: url('../images/body-nav-host-bg.jpg');
    background-size: cover;
    background-position: center;
    filter: brightness(0.8);
}
.hero-container h4 {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 13px;
}
.hero-container p {
    font-size: 17px;
    padding-bottom: 13px;
}
.hero-btn {
    height: 50px;
    width: 130px;
    margin-top: 5px;
    padding: 12px;
    display: inline-block;
    font-size: 15px;
    color: #EBECF1;
    text-align: center;
    text-decoration: none;
    border: 2px solid #EBECF1;
    border-radius: 2px;
}
.hero-btn:hover {
    height: 55px;
    width: 135px;
    padding: 14px;
    color: black;
    background-color: #EBECF1;
}
/* NAV-HOST BODY PAGE-1 END */

/* NAV-HOST PAGE-2 START*/
.nav-host-body {
    height: auto;
}
.host-body-tools {
    padding-top: 90px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 25px;
    color: black;
}
.card {
    width: 235px;
    margin-bottom: 85px;
    text-align: center;
    border: 1px solid white;
}
.card i {
    font-size: 30px;
}

/* NAV-HOST PAGE-2 START*/

/* FOOTER START */
footer {
    height: 180px;
    width: 100%;
    background-color: #2D3250;
}
.foot-tm {
    padding-top: 50px;
    color: #EBECF1;
    text-align: center;
    font-size: 25px
}
footer p {
    color: #88888a;
    text-align: center;
}
/* FOOTER END */